<% content_for :header_left  do %>
    <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user), class: "button" %>
    <% end %>
<% end %>

<% content_for :header_title  do %>
    <h1>Users</h1>
<% end %>

<% content_for :header_right  do %>
    <% if logged_in? %>
        <%= link_to "Log Out", logout_path, method: "delete", class: "button" %>
        <%= link_to "Profile", user_path(current_user), class: "button" %>
    <% end %>
    <%= link_to "Home", boards_path, class: "button" %>
<% end %>
<%= render 'layouts/header' %>

<%= will_paginate %>

<div class="content_field">
    <div class="content_container">
        <div class="tile wide">
            <% if @users.any? %>
                <% @users.each do |user| %>
                    <%= render user %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<%= will_paginate %>