<% content_for :header_left  do %>
    <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user), class: "button" %>
    <% end %>
<% end %>

<% content_for :header_title  do %>
    <h1>Users</h1>
<% end %>

<% content_for :header_right  do %>
    <% if logged_in? %>
        <%= link_to "Log Out", logout_path, method: "delete", class: "button" %>
        <%= link_to "Profile", user_path(current_user), class: "button" %>
    <% end %>
    <%= link_to "Home", boards_path, class: "button" %>
<% end %>
<%= render 'layouts/header' %>



<div class="content_field">
    <div class="sidebar_container left">
        <div class="sidebar left"></div>
    </div>
    <div class="content_container">
        <div class="tile content">
            <%= will_paginate %>
        </div>
        <div class="tile no_border">
            <% if @users.any? %>
                <% @users.each do |user| %>                    
                    <a class="list_item" href=<%=user_path(user)%>>
                        <h3 class="content_division"><%= user.name %></h3>
                        <div class="content_division"><%= user.email %></div>
                    </a>                    
                <% end %>
            <% end %>
        </div>
        <div class="tile content">
            <%= will_paginate %>
        </div>
    </div>
    <div class="sidebar_container right">
        <div class="sidebar right"></div>
    </div>
</div>