
<div class="tile wide">
<h1> <%= @board.name %> </h1>
<%= @board.description %>
</div>
<div class="tile wide">
<% @board.children.each do |child| %>

    <h2><%= link_to child.name, board_path(child) %></h2>
    <%= child.description %>
    <br/>
    <%= link_to 'edit', edit_board_path( child ) %>
    <%= link_to 'delete', board_path( child ),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    
<% end %>
</div>
<br/>
<hr></hr>

<%= link_to 'new subboard', new_board_path( :parent_id => @board.id ) %>