<% content_for :header_left  do %>
    <div class="icon">P</div>
<% end %>

<% content_for :header_title  do %>
    <h1><%= @board.name %></h1>
        <%= @board.description %>
<% end %>

<% content_for :header_right  do %>
    <% if logged_in? %>
            <a class="button" data-method="delete" href= <%=logout_path%> >Log out</a>
        <% end %>
        <a class="icon" href= <%=new_board_path( :parent_id => @board.id )%> >NS</a>
<% end %>
<%= render 'layouts/header' %>

<div class="content_field">
    <div class="content_container">
        <% if @board.children.any? %>
            <div class="page_tile wide">
                <% @board.children.each do |child| %>
                    <a class="list_tile wide" href=<%=board_path(child)%>>
                        <h1 class="swatch_block label"><%= child.name %></h1>
                        <div class="swatch_block"><%= child.description %></div>
                        <!--<%= link_to 'edit', edit_board_path( child ), class: "button" %>
                        <%= link_to 'delete', board_path( child ),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>-->
                    </a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>