<h1> <%= @board.name %> </h1>
<br/>
<%= @board.description %>
<br/>
Board id: <%= @board.id %>
<br/>
Parent id: <%= @board.parent %>
<br/>
<% @board.children.each do |child| %>

    <h2><%= link_to child.name, board_path(child) %></h2>
    <%= child.description %>
    <br/>
    <%= link_to 'edit', edit_board_path( child ) %>
    <%= link_to 'delete', board_path( child ),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    
<% end %>

<%= link_to 'new subboard', new_board_path( :parent_id => @board.id ) %>