<nav>
<div class="bar" id="topbar">
    <h1> <%= @board.name.upcase %> </h1>
</div>
<div class="bar" id="dummy_bar"></div>
</nav>

<%= @board.description %>
<br/>

<div class="grid wide">
    <div class="grid_tile pastel1">FAQ</div>
    <div class="grid_tile pastel2">Rules</div>
    <div class="grid_tile pastel3">Resources</div>
</div>

<div class="container wide">

<% @board.children.each do |child| %>

    <div class="item">
        <%= link_to child.name, board_path(child) %>
        <%= child.description %>
        <%= link_to 'edit', edit_board_path( child ) %>
        <%= link_to 'delete', board_path( child ),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    </div>
        <% if @board.children.last != child %>
            <hr class="divider"></hr>
        <% end %>
        
<% end %>

</div>

<hr></hr>
<%= link_to 'view', board_path( @board ) %>
<%= link_to 'new', new_board_path( :parent_id => @board.id ) %>
<%= link_to 'edit', edit_board_path( @board ) %>
<%= link_to 'delete', board_path( @board ),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
<br/>
<%= link_to 'home', boards_path %>
