<h1> <%= @board.name %> </h1>
<br/>
<%= @board.description %>
<br/>
Board id:<%= @board.id %>
<br/>
Parent id: <%= @board.parent %>
<br/>
<% @subboards.each do |child| %>

    <h2> <%= link_to child.name, board_path(child) %> </h2>
    <br/>
    <%= child.description %>
<% end %>

<%= link_to 'new board', new_board_path %> 
